body {
    font-family: "League Spartan", sans-serif;
    font-family: "Montserrat", sans-serif;
    background-color: #1f1f1f;
    color: Black;
    margin: 0;
    height: 100vh;
}
.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100vh;
}
.leftNav {
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 95vh;
    border-radius: 40px;
}
.rightSection {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 80%;
    background-color: #1f1f1f;
}
.rightHalf1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
    background-color: #1f1f1f;
}
h2 {
    margin-top: 5vh;
    margin-bottom: 0;
}
.rightExpense {
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 75vh;
    width: 95%;
    border-radius: 40px;
    background-color: white;
    margin: 20px;
}
.rightHalf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
    background-color: #1f1f1f;
}
.rightBlob {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 40px;
    height: 75vh;
    width: 95%;
    background-color: #ffe66f;
    margin: 20px;
}
.qContainer {
    height: 12vh;
    position: absolute;
    bottom: 0;
    border-radius: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.aiTerminal {
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    height: 300px;
    word-break: break-all;
    white-space: normal;
    overflow-y: scroll;
    border-radius: 40px;
}
.rightBlob p {
    margin-left: auto;
    margin-right: 2vw;
    position: relative;
    color: #3d3d3d;
    font-weight: 500;
}
#enterQuery {
    margin-left: 2vw;
    width: 100%;
}
#enterQuery input {
    height: 80%;
    width: 65%;
    border-radius: 40px;
    overflow: scroll;
}
#enterQuery button {
    text-align: center;
    width: 25%;
    height: 80%;
    border-radius: 40px;
    background-color: #1f1f1f;
    color: white;
}
.pageContainer {
    display: flex;
    background-color: #1f1f1f;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: none;
}

#expenseForm {
    margin-right: 2vw;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3d3d3d;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 80%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
#expenseForm button {
    width: 15%;
    background-color: #ffe66f;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

#expenseForm input {
    margin-left: 10px;
    margin-right: 10px;
}
#expenseForm input {
    border-radius: 40px;
    height: 3vh;
}
#logoutForm {
    width: 100%;
    max-width: 300px;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#logoutForm button {
    width: 30%;
    margin-right: 0.5vw;
    margin-bottom: 20px;
    background-color: #ffe66f;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}
#logoutForm button:hover,
#expenseForm button:hover {
    background-color: #ffed95;
    transform: scale(1.05);
}

.calcContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.yourExpenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 90%;
    overflow: scroll;
}
.yourExpenses button {
    background-color: #ffe66f;
    border: none;
    border-radius: 40px;
}
.leftNav form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.navbutton {
    width: 80%;
    height: 10vh;
    border-radius: 40px;
    margin-top: 10vh;
}
